* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
}

body {
    background-color: #212121;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* ================================================================= */
/* =========================Menu-overlay ========================= */
#menu-overlay {
    display: none;
    position: fixed;
    background: #212121;
    /* I made this purple so you can see it :) */
    opacity: 0;
    /* can be made to 0 */
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
}

/* ----------------------------------------------------------------------------------- */
/* -----------------------------------------Phần Đầu-------------------------------------- */
h1 {
    display: block;
    font-size: 2em;
    width: 75%;
    margin: 0px auto;
    color: white;
    text-align: center;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 50%;
    margin: 0px auto;
}

/* ========================================================================= */
/* ------------------------------------Đặt thời gian ----------------------*/
#dat_thong_bao {
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 30px auto;
    color: white;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
}

.row .select {
    display: inline-block;
    width: 160px;
    height: 38px;
    margin: 0px auto;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    border-radius: 7px;
    z-index: 1;
}

.select-Button {
    display: flex;
    height: 100%;
}

.input {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 7px;
    width: 100%;
    height: 100%;
}

.ti-arrow-circle-down {
    color: #212529;
    padding: 10px;
    font-size: 16px;
    float: right;
}


.drop-down-gio,
.drop-down-giay,
.drop-down-phut {
    display: none;
    box-sizing: border-box;
    background-color: white;
    height: 200px;
    width: 100%;
    position: relative;
    border-radius: 7px;
    margin-top: 10px;
}

.danh-sach-thoi-gian {
    height: 150px;
    width: 100%;
    border: none;
    overflow-y: scroll;
}


.hop-nhap-thoi-gian {
    width: 90%;
    margin: 5px 7px 3px;
    display: block;
}

#search-input-hour,
#search-input-min,
#search-input-sec {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    border-radius: 7px;
    border-width: 2px;
    border-color: #ced4da;
    cursor: text;
}
#search-input:hover{
    border-color: #17a2b8;
}


.nhap-thoi-gian:hover {
    border-width: 3px;
    border-color: #80bdff;
    font-size: 16px;
}

.thoi-gian {
    width: 100%;
    margin: 10px auto;
    height: 30px;
    list-style-type: none;
    padding-top: 7px;
}

.thoi-gian {
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #212529;
}

.thoi-gian:hover {
    background-color: #5ba5ef;
    color: #f8f9fa;
}

/* ========================================================================= */
/* ------------------------------------Chọn nhanh ----------------------*/
#chon_nhanh {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.so_phut {
    margin: 12px auto;
    text-decoration: none;
    color: #38f;
    font-weight: 10px;
    text-align: center;
}

/* ========================================================================= */
/* ------------------------------------Chuông----------------------*/
.chuong_bao{
    margin: 0 auto;
    position: relative;
    z-index: 0;
    margin-top: 51px;
}
.box_time {
    width: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.box_chuong {
    width: 100%;
    height: 100%;
    background-color: #212121;
    border: none;
}

#chuong {
    display: flex;
    height: 38px;
    width: 50%;
    margin: 30px auto 0;
    border-radius: 7px;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    position: relative;
}

.ti-bell {
    color: #212529;
    padding: 10px;
    font-size: 20px;
}

#list-sounds {
    width: 100%;
    display: flex;
    height: 100%;
    border-radius: 7px;
}

.list-sounds {
    font-size: 16px;
    text-align: center;
    width: 100%;
    padding: 5px;
}

.list-sounds:hover{
    background-color: #5ba5ef;
    color: #f8f9fa;
}

#h3 {
    display: inline-block;
    padding-left: 9%;
    font-size: 18px;
    padding-top: 11px;
    height: 100%;
}
#bar{
    display: none;
    box-sizing: content-box;
    height: 10px; /* Can be anything */
    position: relative;
    margin: 60px 0 20px 0; /* Just for demo spacing */
    background: #555;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

#bar > #bar-run {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient(
      center bottom,
      rgb(43, 194, 83) 37%,
      rgb(84, 240, 84) 69%
    );
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
      inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
  }
  #bar > #bar-run:after,
  .animate > #bar-run > #bar-run {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
  }
  
  .animate > span:after {
    display: none;
  }
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50px 50px;
    }
  }
.drop-down-chuong {
    display: none;
    box-sizing: border-box;
    background-color: white;
    height: 132px;
    width: 50%;
    margin: 10px auto;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 5px;
    color: #212121;
}

#thong_bao_loai_chuong,
#thong_bao_thoi_gian_con_lai {
    text-align: center;
    font-weight: 0px;
    font-size: 18px;
    margin-top: 25px;
    width: 100%;
    color: white;
    position: relative;
    z-index: 0;
}

/* ========================================================================= */
/* ------------------------------------Thời gian đếm ngược----------------------*/
.thoi_gian_dem_nguoc {
    width: 100%;
    height: 100%;
    font-size: 545%;
    margin: 30px 0px 20px 0px;
    color: white;
    text-align: center;
    position: relative;
    z-index: 0;
    display: flex;
}
.output-time{
    margin: 0px auto;
}
.nut_bat_dau {
    display: flex;
    width: 50%;
    position: relative;
    z-index: 0;
    margin: 0px auto;
}

#start,
#pause {
    display: inline-block;
    width: 50%;
    height: 38px;
    margin: 0px 5px;
    background-color: #f8f9fa;
    border: none;
    border-radius: 7px;
    position: relative;
    z-index: 0; 
}
#pause:hover{
    cursor: no-drop;
}

h6{
    font-size: 16px;
}
